.user-anonymous {
    background: rgb(191, 191, 191);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.user-anonymous-40 {
    width: 40px;
    height: 40px;
}

.user-anonymous-60 {
    width: 60px;
    height: 60px;
}

.user-anonymous-80 {
    width: 80px;
    height: 80px;
}

.user-anonymous-100 {
    width: 100px;
    height: 100px;
}

.user-anonymous i {
    color: #fff;
    font-size: 14px;
}

.user-anonymous.user-anonymous-40 i {
    font-size: 18px;
}

.user-anonymous.user-anonymous-60 i {
    font-size: 22px;
}


.btn-published {
    background-color: transparent;
    border: 2px solid #0d6efd;
    color: #0d6efd;
}

.btn-published.public {
    background-color: #0d6efd;
    color: #fff;
}

.btn-published .text-public {
    display: none;
}

.btn-published .spinner-border {
    color: #0d6efd;
}

.btn-published .text-private {
    display: block;
}

.btn-published.public .text-public {
    display: block;
}

.btn-published.public .text-private {
    display: none;
}

.btn-published.public .spinner-border {
    color: #fff;
}

.btn-rounded {
    border-radius: 15px;
}

.content_img_100x60 {
    width: 100%;
    position: relative;
}

.content_img_100x60:after {
    content: "";
    display: block;
    padding-bottom: 60%;
}

.content_img_100x60>.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-gray-light {
    background-color: rgb(229, 229, 229);
}

.preview-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.card-columns-custom {
    column-gap: 14px !important;
}

@media (min-width: 576px) {
    .card-columns-custom {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns-custom {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;

    }
}

@media (min-width: 1200px) {
    .card-columns-custom {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

.img-preview-user {
    position: relative;

}

.img-preview-user-60 {
    width: 60px;
    height: 60px;
}

.img-preview-user-80 {
    width: 80px;
    height: 80px;
}

.img-preview-user>.user-anonymous,
.img-preview-user>.img-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.img-preview-user>.label-preview-img {
    position: absolute;
    width: 25px;
    height: 25px;
    display: flex;
    font-size: 11px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 2;
}

.img-preview-user-60>.label-preview-img {
    top: -2px;
    right: -2px;
}

.img-preview-user-80>.label-preview-img {
    top: 2px;
    right: 2px;
}

.img-preview-user-80>.user-anonymous i {
    font-size: 22px;
}

.img-preview-user>.img-preview {
    display: none;
    object-fit: cover;
    border-radius: 50%;
}

.img-preview-user.img-insert>.user-anonymous {
    display: none;
}

.img-preview-user.img-insert>.img-preview {
    display: block;
}

.cursor-pointer {
    cursor: pointer;
}